In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('predictions.csv')

dfr = df[df['resultado'] != 'NaN' ]
dfr

print(dfr['resultado'].value_counts())
dfr

resultado
GREEN    370
RED      172
Name: count, dtype: int64

,event_id,tournament_id,categoria,tipo_previsao,target,prob,resultado,version
0,14025102,17,gols,Under,4,72.000000,GREEN,V1
1,14025102,17,escanteios,Over,9,80.000000,RED,V1
2,14025102,17,cartão amarelo,Under,4,83.000000,GREEN,V1
3,14025093,17,escanteios,Over,7,81.000000,RED,V1
4,14025093,17,escanteios,Over,8,72.000000,RED,V1
...,...,...,...,...,...,...,...,...
538,15121158,325,gols,Under,5,79.389313,GREEN,NaN
539,15121158,325,escanteios,Under,11,76.000000,GREEN,NaN
540,15121158,325,cartão amarelo,Under,5,77.500000,GREEN,NaN
541,13472620,325,gols,Under,4,82.816901,GREEN,NaN
542,13472620,325,cartão amarelo,Under,2,74.038462,GREEN,NaN

In [4]:
dfg = dfr[dfr['categoria'] == 'gols']
dfe = dfr[dfr['categoria'] == 'escanteios']
dfy = dfr[dfr['categoria'] == 'cartão amarelo']

print(dfg['resultado'].value_counts())
print()
print(dfe['resultado'].value_counts())
print()
print(dfy['resultado'].value_counts())

resultado
GREEN    117
RED       20
Name: count, dtype: int64

resultado
RED      152
GREEN     98
Name: count, dtype: int64

resultado
GREEN    155
Name: count, dtype: int64

In [5]:
def calc_green_porcent(dfcat):
    dfcat_total = dfcat['event_id'].count()
    dfcat_green = dfcat[dfcat['resultado'] == 'GREEN']['event_id'].count()
    dfcatdfg_red = dfcat[dfcat['resultado'] == 'RED']['event_id'].count()

    dfcat_green_porcent = dfcat_green * 100 / dfcat_total
    return(dfcat_green_porcent)

In [6]:
print(calc_green_porcent(dfg))
print(calc_green_porcent(dfe))
print(calc_green_porcent(dfy))

84.78260869565217
39.2
100.0

In [ ]:
UPDATE table_statics
SET sum_ALL_cards = COALESCE("ALL_yellowCards_home", 0) + 
COALESCE("ALL_yellowCards_away", 0) + 
COALESCE("ALL_redCards_home", 0) + 
COALESCE("ALL_redCards_away", 0)
;