In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('predictions.csv')

dfr = df[df['resultado'] != 'NaN' ]
dfr

print(dfr['resultado'].value_counts())
dfr

resultado
GREEN    313
RED      154
Name: count, dtype: int64

,event_id,tournament_id,categoria,tipo_previsao,target,prob,resultado,version
0,14025102,17,gols,Under,4,72.000000,GREEN,V1
1,14025102,17,escanteios,Over,9,80.000000,RED,V1
2,14025102,17,cartão amarelo,Under,4,83.000000,GREEN,V1
3,14025093,17,escanteios,Over,7,81.000000,RED,V1
4,14025093,17,escanteios,Over,8,72.000000,RED,V1
...,...,...,...,...,...,...,...,...
462,13472621,325,cartão amarelo,Under,4,75.206612,GREEN,NaN
463,13472604,325,escanteios,Over,9,76.363636,RED,NaN
464,13472604,325,cartão amarelo,Under,3,83.203733,GREEN,NaN
465,13472604,325,escanteios,Over,9,76.363636,RED,NaN
466,13472604,325,cartão amarelo,Under,3,83.203733,GREEN,NaN

In [3]:
dfg = dfr[dfr['categoria'] == 'gols']
dfe = dfr[dfr['categoria'] == 'escanteios']
dfy = dfr[dfr['categoria'] == 'cartão amarelo']

print(dfg['resultado'].value_counts())
print()
print(dfe['resultado'].value_counts())
print()
print(dfy['resultado'].value_counts())

resultado
GREEN    95
RED      20
Name: count, dtype: int64

resultado
RED      134
GREEN     84
Name: count, dtype: int64

resultado
GREEN    134
Name: count, dtype: int64

In [4]:
def calc_green_porcent(dfcat):
    dfcat_total = dfcat['event_id'].count()
    dfcat_green = dfcat[dfcat['resultado'] == 'GREEN']['event_id'].count()
    dfcatdfg_red = dfcat[dfcat['resultado'] == 'RED']['event_id'].count()

    dfcat_green_porcent = dfcat_green * 100 / dfcat_total
    return(dfcat_green_porcent)

In [5]:
print(calc_green_porcent(dfg))
print(calc_green_porcent(dfe))
print(calc_green_porcent(dfy))

82.6086956521739
38.53211009174312
100.0